.banner {
    background-image: url('banner.png'); /* Cambiá la ruta según dónde esté */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.custom-carousel {
    max-width: 400px;
    margin: auto;
    border-radius: 1.5rem;
}

.custom-carousel img {
    height: 300px;
    object-fit: cover;
    border-radius: 1.5rem;
}

.btn-primary {
    color: white;
    background-color: black;
    border-block-color: black;
}
